/* Corpo della pagina: imposta margini, font e un gradiente scuro di sfondo */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(120deg, #121212 60%, #d946ef 100%);
  color: white;
  min-height: 100vh;
}

/* Sezione catalogo: sfondo colorato diagonale */
.carrello-section {
  background: linear-gradient(120deg, #121212 60%, #d946ef 100%);
  min-height: 100vh;
  padding: 2rem;
}

/* Container per la card (centrato verticalmente e orizzontalmente) */
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  height: 100%;
  padding-top: 3rem;
}

/* Card del prodotto con effetto vetro e interazione */
.login-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3rem;
}

.password-recovery-card  {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3rem;
}

/* Effetto sollevamento al passaggio del mouse */
.login-card:hover {
  transform: translateY(-5px);
}

/* ===== Stile per i campi di input (email e password) ===== */
.form-control {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
}

.form-control::placeholder {
  color: #bbbbbb;
}

.form-control:focus {
  background-color: #2c2c2c;
  color: white;
  border-color: #804AF2;
  box-shadow: 0 0 5px rgba(128, 74, 242, 0.5);
  outline: none;
}

/* Sezione del form (accedi) */
.login-body {
  padding: 20px;
  height: 550px;
  overflow: hidden;
}

/* Modifica per il bottone Accedi */
.btn-primary {
  background-color: rgba(128, 74, 242, 0.5);
  color: white;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(128, 74, 242, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.btn-primary:focus {
  background-color: rgba(128, 74, 242, 0.7);
  box-shadow: 0 0 5px rgba(128, 74, 242, 0.5);
  border: 1px solid rgba(128, 74, 242, 1);
  outline: none;
}

.btn-primary:hover {
  background-color: rgba(128, 74, 242, 0.9);
  box-shadow: 0 0 8px rgba(128, 74, 242, 0.8);
}

.btn-primary:active {
  background-color: rgba(128, 74, 242, 0.9);
  box-shadow: 0 0 10px rgba(128, 74, 242, 0.8);
  border: 1px solid rgba(128, 74, 242, 1);
}